/*body {
  background-color: pink;
}

table {
  width: 100%;
  border: solid 1px black;
}

th {
  border: solid 1px black;
}

header {
  background-color: pink;
  position: fixed;
  width: 100%;
}

.spieler {
  display: inline-block;
  width: 200px;
}

.input input {
  margin-top: 20px;
  background-color: pink;
  display: inline-block;
}
*/
